body{
    width:1920px;
    height:auto;
    background-image:url("../ASSETS/images/Pagina_Principal/body_base.png");
}
#botonRetroceso{
    z-index:2;
    position:fixed;
    top:50px;
    left:50px;
    width:50px;
    height:50px;
    background-image:url("../ASSETS/images/Pagina_Principal/back_button.png");
    background-color:black;
    border-radius:25px;
}
#illustration_window{
    width:inherit;
    height:inherit;
}
#cargador{
    background-image:url("../ASSETS/images/Pagina_Animacion/loading.gif");
    width:100px;
    height:100px;
    position:fixed;
    top:410px;
    left:920px;
}
.nomeves{
    transition:all 3s;
    opacity:0 ;
}
.meves{
    transition:all 3s;
    opacity:1;
}

/*Full Pagina Principal*/
#baseImagenes{
    background-position:center;
    background-size:100% auto;
    background-repeat:no-repeat;
    position:absolute;
    height:960px;
    width:1920px;
    background-color:rgb(15,15,50);
    transition:all 1s;
    background-image: url("../MEDIA/IMAGES/Reel_Illustration_Media/Drawing_Final/Finales_numeroSolo/1.jpg");
}
.degradadoImagenesSuave{
    position:absolute;
    height:960px;
    width:1920px;
    background-image: url("../ASSETS/images/Pagina_Principal/degradado_menu_principal_suave.png");
    transition:all 1s;
}
.degradadoImagenesDur{
    position:absolute;
    height:960px;
    width:1920px;
    background-image: url("../ASSETS/images/Pagina_Principal/degradado_menu_principal_dur.png");
    transition:all 1s;
}
#line{
     z-index:3;
    background-color:rgb(20,50,160);
    position:absolute;
    top:963px;
    left:10p;
    width:1900px;
    height:5px;
    border-radius:2px;
}

#texto{
    background-repeat:no-repeat;
    position:absolute;
    left:200px;
    top:210px;
    width:640px;
    height:540px;
    transition:all 0.8s;
    border-radius:25px;
}
/*TEXTOS CAMBIO POR BOTON*/
.no_text{
    background-image:url("../ASSETS/images/Pagina_Ilustracion/ILLUSTRATION.png");    
}
.text_WHO{
    background-image:url("../ASSETS/images/Pagina_Principal/3DArtistWHO.png");    
}
.text_WHAT{
    background-image:url("../ASSETS/images/Pagina_Principal/3DArtistWHAT.png");     
}
.text_WHERE{
    background-image:url("../ASSETS/images/Pagina_Principal/3DArtistWHERE.png");      
}
.text_ABOUT{
    background-image:url("../ASSETS/images/Pagina_Principal/3DArtistABOUT.png");     
}


/*BOTONES FULL*/

.botones{
    background-repeat:no-repeat;
    transition:all 0.2s;
    width:150px;
    height:75px;
    top:50px;
}
.botones:hover{
    transform-origin:center;
    transform:scale(1.18);
    
}
#logo{
    background-size:100%;
    background-image:url("../ASSETS/images/Pagina_Principal/Logo_Principal_sombra.png");
    position:absolute;
    top:0px;
    left:100px;
    width:200px;
    height:200px;
}
#logo:hover{
    background-image:url("../ASSETS/images/Pagina_Principal/Logo_Principal_sombra_hover.png");
}
#botonWHO{
    background-image: url("../ASSETS/images/Pagina_Principal/boton_WHO.png");
    position:absolute;
    left:550px;   
}
#botonWHAT{
    background-image: url("../ASSETS/images/Pagina_Principal/boton_WHAT.png");
    position:absolute;
    left:810px;  
}
#botonWHERE{
    background-image: url("../ASSETS/images/Pagina_Principal/boton_WHERE.png");
    position:absolute;
    left:1100px;
}
#botonABOUT{
    background-image: url("../ASSETS/images/Pagina_Principal/botones_ABOUT.png");
    position:absolute;
    left:1400px; 
}




/*CONTACT ME MENU*/
.contactDown{
    position:absolute;
    width:1920px;
    top:5400px;
    height:700px;
    transition:all 1s;
}
.contactUp{
    position:absolute;
    width:1880px;
    top:5200px;
    height:300px;
    transition:all 1s;
}
#limite1{
    width:1920px;
    height:400px;
}
#limite2{
    width:1920px;
    height:3450px;
}
#contactMeID{
    border-radius:15px;
    background-repeat:no-repeat;
    background-image:url("../ASSETS/images/Pagina_Principal/base_Contact_me.jpg");   
}
#mail{
    position:absolute;
    top:10px;
    left:100px;
    width:50px;
    height:50px;
    background-size:100%;
    background-image:url("../ASSETS/images/Pagina_Principal/mail_icon.png");
}
#tel{
    position:absolute;
    top:92px;
    left:99px;
    width:50px;
    height:60px;
    background-size:80%;
    background-repeat:no-repeat;
    background-image:url("../ASSETS/images/Pagina_Principal/tel_ico.png");
}
#place{
    position:absolute;
    top:200px;
    left:100px;
    width:50px;
    height:50px;
    background-size:80%;
    background-repeat:no-repeat;
    background-image:url("../ASSETS/images/Pagina_Principal/location_icon.png");
}
#instagram{
    position:absolute;
    top:30px;
    left:1460px;
    width:50px;
    height:50px;
    background-size:100%;
    background-image:url("../ASSETS/images/Pagina_Principal/instagram_logo.png");
}
#face{
    position:absolute;
    top:30px;
    left:1530px;
    width:50px;
    height:50px;
    background-size:100%;
    background-image:url("../ASSETS/images/Pagina_Principal/facebook_logo.png");
}
#youtube{
    position:absolute;
    top:30px;
    left:1590px;
    width:50px;
    height:50px;
    background-size:100%;
    background-image:url("../ASSETS/images/Pagina_Principal/you_logo.png");
}
#line{
    z-index:3;
    background-color:rgb(20,50,160);
    position:absolute;
    top:963px;
    left:10p;
    width:1900px;
    height:5px;
    border-radius:2px;
}



/*Illustrations Complete*/
#ilustraciones{
    background-image:url("../ASSETS/images/Pagina_Ilustracion/fondo_tileable.png");
    position:absolute;
    top:1000px;
    width:1820px;
    height:auto;
    padding:30px;
    left:15px;
    border-radius:25px;
}
#Finales{
    background-image:url("../ASSETS/images/Pagina_Ilustracion/fondo_tileable_2.png");
    width:inherit;
    height:auto;
    margin-bottom: 100px;
    border-radius:25px;
}
#Sketches{
    background-image:url("../ASSETS/images/Pagina_Ilustracion/fondo_tileable_2.png");
    width:inherit;
    height:auto;  
    border-radius:25px;  
}
.illustration{
    transition:all 0.2s;
    border-radius:7px;
    margin:50px;
    display:inline-block;
    width:250px;
    height:300px;
}
.illustration:hover{
    transform-origin: center;
    transform:scale(1.02);
}
#illustration_1{background-size:100%; background-repeat:no-repeat; background-image:url("../MEDIA/IMAGES/Reel_Illustration_Media/Drawing_Final/Finales_numeroSolo/1.jpg");}
#illustration_2{background-size:100%; background-repeat:no-repeat; background-image:url("../MEDIA/IMAGES/Reel_Illustration_Media/Drawing_Final/Finales_numeroSolo/2.jpg");}
#illustration_3{background-size:100%; background-repeat:no-repeat; background-image:url("../MEDIA/IMAGES/Reel_Illustration_Media/Drawing_Final/Finales_numeroSolo/3.jpg");}
#illustration_4{background-size:100%; background-repeat:no-repeat; background-image:url("../MEDIA/IMAGES/Reel_Illustration_Media/Drawing_Final/Finales_numeroSolo/4.jpg");}
#illustration_5{background-size:100%; background-repeat:no-repeat; background-image:url("../MEDIA/IMAGES/Reel_Illustration_Media/Drawing_Final/Finales_numeroSolo/5.jpg");}
#illustration_6{background-size:100%; background-repeat:no-repeat; background-image:url("../MEDIA/IMAGES/Reel_Illustration_Media/Drawing_Final/Finales_numeroSolo/6.jpg");}
#illustration_7{background-size:100%; background-repeat:no-repeat; background-image:url("../MEDIA/IMAGES/Reel_Illustration_Media/Drawing_Final/Finales_numeroSolo/7.jpg");}
#illustration_8{background-size:100%; background-repeat:no-repeat; background-image:url("../MEDIA/IMAGES/Reel_Illustration_Media/Drawing_Final/Finales_numeroSolo/8.jpg");}
#illustration_9{background-size:150%; background-position:-50px;background-repeat:no-repeat; background-image:url("../MEDIA/IMAGES/Reel_Illustration_Media/Drawing_Final/Finales_numeroSolo/9.jpg");}
#illustration_10{background-size:180%; background-position:-100px; background-repeat:no-repeat; background-image:url("../MEDIA/IMAGES/Reel_Illustration_Media/Drawing_Final/Finales_numeroSolo/10.jpg");}
#illustration_11{background-size:100%; background-position:0px -20px;background-repeat:no-repeat; background-image:url("../MEDIA/IMAGES/Reel_Illustration_Media/Drawing_Final/Finales_numeroSolo/11.jpg");}
#illustration_12{background-size:100%; background-position:0px -15px;background-repeat:no-repeat; background-image:url("../MEDIA/IMAGES/Reel_Illustration_Media/Drawing_Final/Finales_numeroSolo/12.jpg");}
#illustration_13{background-size:100%; background-repeat:no-repeat; background-image:url("../MEDIA/IMAGES/Reel_Illustration_Media/Drawing_Final/Finales_numeroSolo/13.jpg");}
#illustration_14{background-size:100%; background-repeat:no-repeat; background-image:url("../MEDIA/IMAGES/Reel_Illustration_Media/Drawing_Final/Finales_numeroSolo/14.jpg");}
#illustration_15{background-size:190%; background-position:-30px;background-repeat:no-repeat; background-image:url("../MEDIA/IMAGES/Reel_Illustration_Media/Drawing_Final/Finales_numeroSolo/15.jpg");}
#illustration_16{background-size:170%;background-position:-60px; background-repeat:no-repeat; background-image:url("../MEDIA/IMAGES/Reel_Illustration_Media/Drawing_Final/Finales_numeroSolo/16.jpg");}
#illustration_17{background-size:100%; background-repeat:no-repeat; background-image:url("../MEDIA/IMAGES/Reel_Illustration_Media/Drawing_Final/Finales_numeroSolo/17.jpg");}
#illustration_18{background-size:210%; background-position:-140px;background-repeat:no-repeat; background-image:url("../MEDIA/IMAGES/Reel_Illustration_Media/Drawing_Final/Finales_numeroSolo/18.jpg");}
#illustration_19{background-size:180%; background-position:-60px; background-repeat:no-repeat; background-image:url("../MEDIA/IMAGES/Reel_Illustration_Media/Drawing_Final/Finales_numeroSolo/19.jpg");}
#illustration_20{background-size:170%; background-position:-60px; background-repeat:no-repeat; background-image:url("../MEDIA/IMAGES/Reel_Illustration_Media/Drawing_Final/Finales_numeroSolo/20.jpg");}
#illustration_21{background-size:100%; background-position:0px -35px; background-repeat:no-repeat; background-image:url("../MEDIA/IMAGES/Reel_Illustration_Media/Drawing_Final/Finales_numeroSolo/21.jpg");}
#illustration_22{background-size:100%; background-repeat:no-repeat; background-image:url("../MEDIA/IMAGES/Reel_Illustration_Media/Drawing_Final/Finales_numeroSolo/22.jpg");}
#illustration_23{background-size:100%; background-repeat:no-repeat; background-image:url("../MEDIA/IMAGES/Reel_Illustration_Media/Drawing_Final/Finales_numeroSolo/23.jpg");}
#illustration_24{background-size:100%; background-repeat:no-repeat; background-image:url("../MEDIA/IMAGES/Reel_Illustration_Media/Drawing_Final/Finales_numeroSolo/24.jpg");}
#illustration_25{background-size:170%; background-position:-90px;background-repeat:no-repeat; background-image:url("../MEDIA/IMAGES/Reel_Illustration_Media/Drawing_Final/Finales_numeroSolo/25.jpg");}
#illustration_26{background-size:100%; background-repeat:no-repeat; background-image:url("../MEDIA/IMAGES/Reel_Illustration_Media/Drawing_Final/Finales_numeroSolo/26.jpg");}
#illustration_27{background-size:180%; background-position:-115px; background-repeat:no-repeat; background-image:url("../MEDIA/IMAGES/Reel_Illustration_Media/Drawing_Final/Finales_numeroSolo/27.jpg");}
#illustration_28{background-size:180%; background-position: -140px;background-repeat:no-repeat; background-image:url("../MEDIA/IMAGES/Reel_Illustration_Media/Drawing_Final/Finales_numeroSolo/28.jpg");}
#illustration_29{background-size:100%; background-position: 0px -50px; background-repeat:no-repeat; width:550px; background-image:url("../MEDIA/IMAGES/Reel_Illustration_Media/Drawing_Final/Finales_numeroSolo/29.jpg");}
#Sketch_1{background-size:150%; background-position:-50px; background-repeat:no-repeat; background-image:url("../MEDIA/IMAGES/Reel_Illustration_Media/Drawing_Final/Finales_numeroSolo/30.jpg");}
#Sketch_2{background-size:100%; background-repeat:no-repeat; background-image:url("../MEDIA/IMAGES/Reel_Illustration_Media/Drawing_Final/Finales_numeroSolo/31.jpg");}
#Sketch_3{background-size:100%; background-position: 0px -25px; background-repeat:no-repeat; background-image:url("../MEDIA/IMAGES/Reel_Illustration_Media/Drawing_Final/Finales_numeroSolo/32.jpg");}
#Sketch_4{background-size:170%; background-position:-50px; background-repeat:no-repeat; background-image:url("../MEDIA/IMAGES/Reel_Illustration_Media/Drawing_Final/Finales_numeroSolo/33.jpg");}
#Sketch_5{background-size:100%; background-repeat:no-repeat; background-image:url("../MEDIA/IMAGES/Reel_Illustration_Media/Drawing_Final/Finales_numeroSolo/34.jpg");}
#Sketch_6{background-size:190%; background-position:-60px; background-repeat:no-repeat; background-image:url("../MEDIA/IMAGES/Reel_Illustration_Media/Drawing_Final/Finales_numeroSolo/35.jpg");}
#Sketch_7{background-size:240%; background-position:-90px; background-repeat:no-repeat; background-image:url("../MEDIA/IMAGES/Reel_Illustration_Media/Drawing_Final/Finales_numeroSolo/36.jpg");}
#Sketch_8{background-size:172%; background-position:-75px; background-repeat:no-repeat; background-image:url("../MEDIA/IMAGES/Reel_Illustration_Media/Drawing_Final/Finales_numeroSolo/37.jpg");}
#Sketch_9{background-size:150%; background-position: -25px; background-repeat:no-repeat; background-image:url("../MEDIA/IMAGES/Reel_Illustration_Media/Drawing_Final/Finales_numeroSolo/38.jpg");}
#Sketch_10{background-size:100%; background-position: 0px -15px; background-repeat:no-repeat; background-image:url("../MEDIA/IMAGES/Reel_Illustration_Media/Drawing_Final/Finales_numeroSolo/39.jpg");}
#Sketch_11{background-size:180%; background-repeat:no-repeat; background-image:url("../MEDIA/IMAGES/Reel_Illustration_Media/Drawing_Final/Finales_numeroSolo/40.jpg");}
#Sketch_12{background-size:105%; background-position:0px -50px; background-repeat:no-repeat; background-image:url("../MEDIA/IMAGES/Reel_Illustration_Media/Drawing_Final/Finales_numeroSolo/41.jpg");}
#Sketch_13{background-size:100%; background-repeat:no-repeat; background-image:url("../MEDIA/IMAGES/Reel_Illustration_Media/Drawing_Final/Finales_numeroSolo/42.jpg");}
#Sketch_14{background-size:100%; background-repeat:no-repeat; background-image:url("../MEDIA/IMAGES/Reel_Illustration_Media/Drawing_Final/Finales_numeroSolo/43.jpg");}
#Sketch_15{background-size:100%; background-repeat:no-repeat; background-image:url("../MEDIA/IMAGES/Reel_Illustration_Media/Drawing_Final/Finales_numeroSolo/44.jpg");}
#Sketch_16{background-size:170%; background-position:-60px; background-repeat:no-repeat; background-image:url("../MEDIA/IMAGES/Reel_Illustration_Media/Drawing_Final/Finales_numeroSolo/45.jpg");}




/*VISUALIZADOR DE IMAGENES*/
#boton_return{
    position:absolute;
    right:15px;
    width:50px;
    height:50px;
    border-radius:25px;
    background-color:white;
    background-image:url("../ASSETS/images/Pagina_Ilustracion/close21-76282.png");
}
#contenedor_Imagenes{
    border-radius:8px;
    position:fixed;
    top:75px;
    left:200px;
    width:1500px;
    height:800px;
    background-image:url("../ASSETS/images/Pagina_Ilustracion/fondo_tileable_2.png");
    z-index=90;
    padding:25px;
}
#flechaLft{
    transition:all 0.3s;
    position:absolute;
    top:340px;
    width:50px;
    height:50px;
    background-image:url("../ASSETS/images/Pagina_Ilustracion/Lft_Arrow.png");
}
#flechaRgt{
    transition:all 0.3s;
    position:absolute;
    right:0px;
    top:340px;
    width:50px;
    height:50px;
    background-image:url("../ASSETS/images/Pagina_Ilustracion/Rgt_Arrow.png");
}
#flechaRgt:hover{
    transition:all 0.3s;
    transform-origin: center;
    transform:scale(1.3);
}
#flechaLft:hover{
    transition:all 0.3s;
    transform-origin: center;
    transform:scale(1.3);
}
#imagenes{
    z-index=91;
    border-radius:8px;
    background-repeat:no-repeat;
    background-position:center;
    background-size: auto 100%;
    position:absolute;
    top:50px;
    left:125px;
    width:1300px;
    height:750px;
    background-image:url("../MEDIA/IMAGES/Reel_Illustration_Media/Drawing_Final/Finales_numeroSolo/1.jpg");
}